@font-face {
    font-family: "MetropolisBold";
    src: url("../assets/fonts/Metropolis-Bold.ttf");
}

@font-face {
    font-family: "MetropolisExtraBold";
    src: url("../assets/fonts/Metropolis-ExtraBold.ttf");
}

@font-face {
    font-family: "MetropolisSemiBold";
    src: url("../assets/fonts/Metropolis-SemiBold.ttf");
}

@font-face {
    font-family: "MetropolisMedium";
    src: url("../assets/fonts/Metropolis-Medium.ttf");
}

body {
    background-color: #e8e9eb;
    height: 100vh;
}

/********************************** HEADER **********************************/

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d2161e;
    padding: 9px 8px 5px 10px;
}

.mainHeader .headerNav {
    display: flex;
    align-items: center;
}

.mainHeader .headerNav .freeBetWrapper {
    display: flex;
    align-items: center;
}

.mainHeader .freeBetIcon {
    border-radius: 100%;
    border: 1px solid #ffffff;
    background-color: #FF3C00;
    padding: 2px;
    height: 9px;
    margin-right: 4px;
}

.mainHeader .freeBetAmount {
    color: #ffffff;
    margin-right: 5px;
    font-family: "MetropolisBold", sans-serif;
    font-size: .75rem;
}

.mainHeader .headerNav .headerDepositButton {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: none;
    background-color: #920F14;
    padding: 0;
    margin-right: 5px;
    color: #ffffff;
    height: 27px;
    width: 90px;
    font-family: "MetropolisBold", sans-serif;
    font-size: .75rem;

}

.mainHeader .headerNav .headerDepositButtonIcon {
    height: 27px;
    padding-right: 4px;
}

.mainHeader .myAccount .notificationBadge {
    display: block;
    position: absolute;
    top: 5px;
    right: 3px;
    line-height: 15px;
    background-color: #000000;
    color: #ffffff;
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: .6rem;
    width: 15px;
    text-align: center;
    border-radius: 50%;
}

/********************************** CURRENT PROMO **********************************/

.currentPromo {
    margin: 8px;
    background: url("../assets/backgrounds/background_pattern.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 3px;
}

.currentPromo .closingTag {
    display: flex;
    justify-content: flex-end;
    margin: 8px 8px 3px 0;
}

.currentPromo .currentPromoMainTitle {
    font-family: "MetropolisSemiBold", sans-serif;
    font-size: 1.125rem;
    color: #ffffff;
    margin: 0 27px;
    text-align: center;
}

.currentPromo .currentPromoSecondaryTitle {
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: 1.85rem;
    text-transform: uppercase;
}

.currentPromo .currentPromoFreeBetIcon {
    border-radius: 100%;
    background-color: #FF3C00;
    padding: 4px;
    height: 17px;
    margin-right: 4px;
}

.currentPromo .currentPromoThirdTitle {
    font-style: italic;
}

.currentPromo .currentPromoTimerButtonWrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 14px 22px 20px 15px;
}

.currentPromo .currentPromoTimerButtonWrapper .currentPromoTimerTitle {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50px;
    height: 20px;
    width: auto;
    margin-left: 25px;
    padding: 0 10px 0 20px;
    text-transform: uppercase;
    font-family: "MetropolisExtraBold", sans-serif;
    color: #111111;
    font-size: .75rem;
}

.currentPromo .currentPromoTimerButtonWrapper .currentPromoTimerTime {
    margin-left: 2px;
    color: #d40e12;
}


.currentPromo .currentPromoTimerButtonWrapper .currentPromoTimerTitle .currentPromoTimerIcon {
    position: absolute;
    top: 115px;
    left: 25px;
    height: 50px;
    margin-right: 5px;
}

.currentPromo .currentPromoTimerButtonWrapper .currentPromoButton {
    align-self: center;
    color: #ffffff;
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: .85rem;
}


/********************************** LIVE PLAYING **********************************/
.livePlaying {
    margin: 0 8px;
    background-color: #111111;
    border-radius: 3px;
}

.livePlaying .livePlayingDetailsWrapper .livePlayingIconsTimeWrapper {
    display: flex;
    justify-content: space-between;
    padding: 9px 48px 0 45px;
}

.livePlaying .livePlayingDetailsWrapper .livePlayingIconsTimeWrapper .livePlayingTime {
    color: #999999;
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: .875rem;
}

.livePlaying .livePlayingDetailsWrapper .livePlayingIconsTimeWrapper .livePlayingDetailsIconsWrapper {
    display: flex;
}

.livePlaying .livePlayingDetailsWrapper .livePlayingIconsTimeWrapper .livePlayingDetailsIconsWrapper .livePlayingDetailsLiveIcon {
    padding-right: 5px;
}

.livePlaying .livePlayingMatchDetails {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 15px 7px;
}

.livePlaying .livePlayingMatchDetails .livePlayingMatchDetailsSoccerIcon {
    height: 28px;
    margin-right: 10px;
}

.livePlaying .livePlayingMatchDetails .livePlayingMatchHeadline {
    display: flex;
    color: white;
}

.livePlaying .livePlayingMatchDetails .livePlayingMatchHeadline .livePlayingMatchTextDetails {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
}

.livePlaying .livePlayingMatchDetails .livePlayingMatchHeadline .livePlayingMatchTeamsScore {
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: 1rem;
}

.livePlaying .livePlayingMatchDetails .livePlayingMatchHeadline .livePlayingMatchChampionship {
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: 0.875rem;
    color: #999999;
}

.livePlaying .livePlayingMatchDetails .livePlayingMatchBetsWrapper {
    font-family: "MetropolisBold", sans-serif;
    padding-top: 7px;
    margin-left: 100px;
}

.livePlaying .livePlayingMatchDetails .livePlayingMatchBetsWrapper .livePlayingMatchBets {
    color: #ffffff;
    font-size: 1rem;
}

.livePlaying .livePlayingMatchDetails .livePlayingMatchBetsWrapper .livePlayingMatchText {
    display: block;
    color: #999999;
    font-size: 0.75rem;
}


.livePlaying .livePlayingButtonList {
    display: flex;
    justify-content: center;
    padding: 5px 7px 10px 7px;
}

.livePlaying .livePlayingButtonList .livePlayingButtonListItem {
    display: flex;
    flex-direction: column;
    background-color: #ffcc00;
    text-align: center;
    width: 107px;
    height: 45px;
    border-radius: 3px;
    padding-top: 6px;
    font-family: "MetropolisBold", sans-serif;
    font-size: 0.875rem;
}

.livePlaying .livePlayingButtonList .livePlayingButtonListItem:not(:last-child) {
    margin-right: 10px;
}

.livePlaying .livePlayingButtonList .livePlayingButtonListItem .livePlayingButtonListItemNumber {
    padding-top: 8px;
    font-family: "MetropolisMedium", sans-serif;
    font-size: 0.75rem;
}

/********************************** GAME SCHEDULE **********************************/
.gameSchedule {
    margin: 8px 7px;
}

/********************************** TABLE TENNIS GAME **********************************/
.tableTennisGame {
    background-color: #FFFFFF;
    padding: 9px 10px 8px 7px;
    border-radius: 3px;
}

.gameSchedule .tableTennisGame .tableTennisGameDetailsWrapper {
    display: flex;
    align-items: center;

}

.gameSchedule .tableTennisGame .tableTennisGameDetailsWrapper .tableTennisGameIcon {
    height: 28px;
    margin-right: 10px;

}

.gameSchedule .tableTennisGame .tableTennisGameDetailsWrapper .tableTennisGameDetails {
    display: flex;
    flex-direction: column;
}

.gameSchedule .tableTennisGame .tableTennisGameDetailsWrapper .tableTennisGameDetails .tableTennisGameDateAndTime {
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: 0.75rem;
    color: #999999;
    padding-bottom: 3px;
}

.gameSchedule .tableTennisGame .tableTennisGameDetailsWrapper .tableTennisGameDetails .tableTennisGamePlayers {
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: 1rem;
    color: #111111;
    padding-bottom: 2px;

}

.gameSchedule .tableTennisGame .tableTennisGameDetailsWrapper .tableTennisGameDetails .tableTennisGameChampionship {
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: .85rem;
    color: #999999;
}

.gameSchedule .tableTennisGame .tableTennisGameBetsWrapper {
    margin-left: 110px;
    padding-right: 5px;
}

.gameSchedule .tableTennisGame .tableTennisGameBetsWrapper .tableTennisGameBets {
    color: #111111;
    font-family: "MetropolisBold", sans-serif;
    font-size: 1rem;
}

.gameSchedule .tableTennisGame .tableTennisGameBetsWrapper .tableTennisGameBets .tableTennisGameBetsText {
    display: block;
    color: #999999;
    font-family: "MetropolisBold", sans-serif;
    font-size: .75rem;
}

.gameSchedule .tableTennisGame .tableTennisGameButtonList {
    display: flex;
    justify-content: center;

}

.gameSchedule .tableTennisGame .tableTennisGameButtonList .tableTennisGameButtonListItem {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    width: 165px;
    height: 45px;
    text-align: center;
    border-radius: 3px;
    padding-top: 6px;
    color: #FFFFFF;
    font-family: "MetropolisBold", sans-serif;
    font-size: 0.875rem;
}

.gameSchedule .tableTennisGame .tableTennisGameButtonList .tableTennisGameButtonListItem:nth-child(1) {
    background-color: #5fc626;
    margin-right: 11px;
}

.gameSchedule .tableTennisGame .tableTennisGameButtonList .tableTennisGameButtonListItem:nth-child(2) {
    background-color: #ff3c3c;
}

.gameSchedule .tableTennisGame .tableTennisGameButtonList .tableTennisGameButtonListItem .tableTennisGameButtonListItemNumber {
    font-family: "MetropolisMedium", sans-serif;
    font-size: 0.75rem;
    padding-top: 7px;
}


/********************************** SOCCER GAME **********************************/

.gameSchedule .soccerGame {
    background-color: #FFFFFF;
    padding: 9px 10px 8px 7px;
    border-radius: 3px;
    margin-top: 8px;
}

.gameSchedule .soccerGame .soccerGameDetailsWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.gameSchedule .soccerGame .soccerGameDetailsWrapper .soccerGameIcon {
    height: 28px;
    margin-right: 10px;

}

.gameSchedule .soccerGame .soccerGameDetailsWrapper .soccerGameDetails {
    display: flex;
    flex-direction: column;
}

.gameSchedule .soccerGame .soccerGameDetailsWrapper .soccerGameDetails .soccerGameDateAndTime {
    display: flex;
    align-items: center;
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: 0.75rem;
    color: #999999;
    padding-bottom: 3px;
    text-transform: uppercase;
}

.gameSchedule .soccerGame .soccerGameDetailsWrapper .soccerGameDetails .soccerGameDateAndTime .soccerGameTvIcon {
    height: 25px;
    margin-right: 5px;
}

.gameSchedule .soccerGame .soccerGameDetailsWrapper .soccerGameDetails .soccerGameTeams {
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: 1rem;
    color: #111111;
    padding-bottom: 2px;

}

.gameSchedule .soccerGame .soccerGameDetailsWrapper .soccerGameDetails .soccerGameChampionship {
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: .85rem;
    color: #999999;
}

.gameSchedule .soccerGame .soccerGameBetsWrapper {
    margin-left: 106px;
    padding-right: 5px;
}

.gameSchedule .soccerGame .soccerGameBetsWrapper .soccerGameBets {
    color: #111111;
    font-family: "MetropolisBold", sans-serif;
    font-size: 1rem;
}

.gameSchedule .soccerGame .soccerGameBetsWrapper .soccerGameBets .soccerGameBetsText {
    display: block;
    color: #999999;
    font-family: "MetropolisBold", sans-serif;
    font-size: .75rem;
}

.gameSchedule .soccerGame .soccerGameButtonList {
    display: flex;
    justify-content: center;

}

.gameSchedule .soccerGame .soccerGameButtonList .soccerGameButtonListItem {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    width: 165px;
    height: 45px;
    text-align: center;
    border-radius: 3px;
    padding-top: 6px;
    font-family: "MetropolisBold", sans-serif;
    font-size: 0.875rem;
}

.gameSchedule .soccerGame .soccerGameButtonList .soccerGameButtonListItem:nth-child(1) {
    background-color: #111111;
    color: #ffcc00;
    margin-right: 11px;
}

.gameSchedule .soccerGame .soccerGameButtonList .soccerGameButtonListItem:nth-child(2) {
    background-color: #ffcc00;
    color: #111111;
    margin-right: 11px;

}

.gameSchedule .soccerGame .soccerGameButtonList .soccerGameButtonListItem:nth-child(3) {
    color: #111111;
    background-color: #ffcc00;
}


.gameSchedule .soccerGame .soccerGameButtonList .soccerGameButtonListItem .soccerGameButtonListItemNumber {
    font-family: "MetropolisMedium", sans-serif;
    font-size: 0.75rem;
    padding-top: 7px;
}

/********************************** TENNIS GAME **********************************/

.gameSchedule .tennisGame {
    background-color: #FFFFFF;
    padding: 9px 10px 8px 7px;
    border-radius: 3px;
    margin-top: 8px;
}

.gameSchedule .tennisGame .tennisGameDetailsWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.gameSchedule .tennisGame .tennisGameDetailsWrapper .tennisGameIcon {
    height: 28px;
    margin-right: 10px;

}

.gameSchedule .tennisGame .tennisGameDetailsWrapper .tennisGameDetails {
    display: flex;
    flex-direction: column;
}

.gameSchedule .tennisGame .tennisGameDetailsWrapper .tennisGameDetails .tennisGameDateAndTime {
    display: flex;
    align-items: center;
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: 0.75rem;
    color: #999999;
    padding-bottom: 3px;
    text-transform: uppercase;
}

.gameSchedule .tennisGame .tennisGameDetailsWrapper .tennisGameDetails .tennisGamePlayers {
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: 1rem;
    color: #111111;
    padding-bottom: 2px;

}

.gameSchedule .tennisGame .tennisGameDetailsWrapper .tennisGameDetails .tennisGameChampionship {
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: .85rem;
    color: #999999;
}

.gameSchedule .tennisGame .tennisGameBetsWrapper {
    margin-left: 106px;
    padding-right: 5px;
}

.gameSchedule .tennisGame .tennisGameBetsWrapper .tennisGameBets {
    color: #111111;
    font-family: "MetropolisBold", sans-serif;
    font-size: 1rem;
}

.gameSchedule .tennisGame .tennisGameBetsWrapper .tennisGameBets .tennisGameBetsText {
    display: block;
    color: #999999;
    font-family: "MetropolisBold", sans-serif;
    font-size: .75rem;
}

.gameSchedule .tennisGame .tennisGameBetButton {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    background-color: #ffcc00;
    color: #111111;
    border: none;
    border-radius: 3px;
    font-family: "MetropolisBold", sans-serif;
    font-size: .875rem;
}

/********************************** RACE LIVE **********************************/

.raceLive {
    margin: 0 8px 50px 8px;
    background-color: #FFFFFF;
    padding-bottom: 5px;
}

.raceLive .raceLiveDetailsWrapper {
    background-color: #111111;
    border-radius: 3px;

}

.raceLive .raceLiveDetailsWrapper .raceLiveIconsTimeWrapper {
    display: flex;
    justify-content: space-between;
    padding: 9px 48px 0 45px;
}

.raceLive .raceLiveDetailsWrapper .raceLiveIconsTimeWrapper .raceLiveTime {
    color: #999999;
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: .875rem;
}

.raceLive .raceLiveDetailsWrapper .raceLiveIconsTimeWrapper .raceLiveDetailsIconsWrapper {
    display: flex;
}

.raceLive .raceLiveDetailsWrapper .raceLiveIconsTimeWrapper .raceLiveDetailsIconsWrapper .raceLiveDetailsLiveIcon {
    padding-right: 5px;
}

.raceLive .raceLiveDetails {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 15px 7px;
}

.raceLive .raceLiveDetails .raceLiveDetailsSoccerIcon {
    height: 28px;
    margin-right: 10px;
    padding-top: 20px;
}

.raceLive .raceLiveDetails .raceLiveHeadline {
    display: flex;
    color: #ffffff;
}

.raceLive .raceLiveDetails .raceLiveHeadline .raceLiveTextDetails {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
}

.raceLive .raceLiveDetails .raceLiveHeadline .raceLiveTextDetails .raceLiveRacer {
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: 1rem;
    padding-bottom: 2px;
}

.raceLive .raceLiveDetails .raceLiveHeadline .raceLiveTextDetails .raceLiveRacer:nth-child(1) {
    color: #ffcc00;
}


.raceLive .raceLiveDetails .raceLiveHeadline .raceLiveChampionship {
    font-family: "MetropolisExtraBold", sans-serif;
    font-size: 0.875rem;
    color: #999999;
    margin: 5px 0 10px 0;
}

.raceLive .raceLiveDetails .raceLiveBetsWrapper {
    font-family: "MetropolisBold", sans-serif;
    padding-top: 30px;
    margin-left: 55px;
}

.raceLive .raceLiveDetails .raceLiveBetsWrapper .raceLiveBets {
    color: #ffffff;
    font-size: 1rem;
}

.raceLive .raceLiveDetails .raceLiveBetsWrapper .raceLiveText {
    display: block;
    color: #999999;
    font-size: 0.75rem;
}

.raceLive .raceLiveButtonList {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

.raceLive .raceLiveButtonList .raceLiveButtonListItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #ffcc00;
    color: #111111;
    width: 165px;
    height: 45px;
    border-radius: 3px;
    font-family: "MetropolisBold", sans-serif;
    font-size: 0.875rem;

}

.raceLive .raceLiveButtonList .raceLiveButtonListItem:nth-child(1) {
    margin-right: 11px;
}

.raceLive .raceLiveButtonList .raceLiveButtonListItem .raceLiveeButtonListItemNumber {
    font-family: "MetropolisMedium", sans-serif;
    padding-top: 10px;
    font-size: 0.75rem;
}

.raceLive .cartWrapper {
    position: absolute;
    bottom: -305px;
    right: 15px;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #e10014;
}

.raceLive .cartWrapper .cartIcon {
    height: 30px;
    padding: 20px;
}

/********************************** FOOTER **********************************/

.mainFooter {
    background-color: #ffffff;
}

.mainFooter .footerNavList {
    font-family: "MetropolisBold", sans-serif;
    font-size: .65rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 4px 19px 5px 19px;
}

.mainFooter .footerNavList a {
    display: flex;
    flex-direction: column;
}

.mainFooter .footerNavList .footerNavListItem:nth-child(3) a {
    color: #d2161e;
}

.mainFooter .footerNavList a, a:hover, a:focus, a:visited {
    text-decoration: none;
    color: #666666;
}

.mainFooter .footerNavList .iconLabel {
    display: block;
    padding-top: 5px;
    text-align: center;
}
